:root {
    --orange: hsl(25, 97%, 53%); 
    --white: hsl(0, 0%, 100%); 
    --light-grey: hsl(217, 12%, 63%); 
    --medium-grey: hsl(216, 12%, 54%); 
    --dark-blue: hsl(213, 19%, 18%); 
    --very-dark-blue: hsl(216, 12%, 8%);
    --clay: rgb(58, 67, 75);   
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    padding-left: 20px; 
    padding-right: 20px;  
}

h2 {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 10px;  
}

p {
    color: var(--light-grey);
    margin-bottom: 30px;
    margin-top: 30px; 
  
}

button{
    background-color: var(--orange); 
    padding: 10px 30px;
    width: 300px;
    border-radius: 10px; 
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px; 
}

button:hover {
    background-color: var(--white); 
    color: var(--orange); 
}

h1 {
    color: var(--white); 
}

.choice_container {
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: 20px;
    display: none;    
}

img {
    width: 60%; 
    height: 60%; 
}
.star_image {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--clay);
    width: 40px;
    border-radius: 20px;
    margin-bottom: 20px;   
}

.thanks_container{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 40px;
    border-radius: 10px;    
}

.choices {
    margin-bottom: 25px; 
}

.choices input[type="radio"] {
    opacity: 0; 
    position: fixed; 
    width: 0; 
}

.choices input[type="radio"]:checked + label{
    background-color: var(--light-grey); 
    color: var(--white); 
}

.choices input[type="radio"]:hover + label{
    background-color: var(--orange); 
    color: var(--white); 
}
.choices label{
    display: inline-block; 
    background-color: var(--clay); 
    padding: 10px 20px;
    border-radius: 50%;
    margin-right: 7px; 
    color: var(--light-grey);
    font-weight: 700;   
}

.outcome{
    background-color: var(--clay); 
    padding: 10px 15px;
    border-radius:20px;
    color: var(--orange); 
}

.thanks {
    text-align: center; 
}






